/* TODO: Duplicate in cardContainer */
.loading-heading {
  height: 100vh;
  font-size: 5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777;
}

/*  */
.main-content {
  --background-gradient: #000000;
  --label-font-size: 1.6rem;
  --input-field-font-size: var(--label-font-size);
  --login-btn-font-size: 1.6rem;
  max-width: 70rem;
  margin: 5rem auto 5rem auto;
  /* Weird issue with webkit rendering engine */
  /* border: 0.3rem solid black; */
  box-shadow: 0 0 0 0.2rem #eeeeee;
  border-radius: 1rem;
  overflow: hidden;
}

.title-wrapper {
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  background: linear-gradient(90deg, #ff00cc, #333399);
  color: #ffffff;
}

.edit-form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, max-content);
  gap: 3rem;
  padding: 3rem;
}
.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem 0rem;
}
.form-label {
  display: block;
  font-size: var(--label-font-size);
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
}
.form-input {
  font-family: inherit;
  outline: none;
  width: 100%;
  height: 5rem;
  font-size: var(--input-field-font-size);
  padding: 1.5rem 1.5rem;
  border-radius: 0.3rem;
  border: 0.3rem solid #aaaaaa;
}
.form-input::placeholder {
  opacity: 1;
  color: #0000009c;
}
.form-input:focus {
  border: 0.3rem solid #222;
}
.tagline__form-group,
.description__form-group {
  grid-area: auto / 1 / span 1 / 3;
}
.description__form-group > textarea {
  height: 15rem;
  resize: none;
}
.tagline__form-group > textarea {
  height: 8rem;
  resize: none;
}
.actions__form-group {
  /* background-color: #aaaaaa; */
  grid-area: auto / 1 / span 1 / 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0 6rem;
}
.save-btn {
  --action-btn-bg: #00c725;
}
.cancel-btn {
  --action-btn-bg: #ff533f;
}
.submit-btn {
  width: 12rem;
  height: 5rem;
  border-radius: 5rem;
  padding: 1rem 2rem;
  outline: none;

  background-color: transparent;
  color: #000000;
  border: 0.3rem solid var(--action-btn-bg);

  font-family: inherit;
  font-size: var(--login-btn-font-size);
  font-weight: 600;
  text-transform: uppercase;

  transition: background-color 150ms ease-in-out, color 300ms ease-in-out,
    border 150ms ease-in-out;
}
.submit-btn:hover,
.submit-btn:focus {
  cursor: pointer;
  border: none;
  background-color: var(--action-btn-bg);
  border: 0.3rem solid var(--action-btn-bg);
  color: white;
}
