.club-info {
  display: flex;
  flex-direction: row;
  margin: 6rem 2rem 2rem 2rem;
  gap: 0 4rem;
}
.about-club {
  width: 35%;
  height: 35rem;
  background-color: #eee;
  border-radius: 1rem;
}
.event-section {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 3rem 0;
}
.event-bar {
  display: flex;
  flex-direction: row;
  background-color: #eee;
  height: 12rem;
  border-radius: 1rem;
  gap: 1rem 0;
  overflow: hidden;
}
.event-bar:hover {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.2s, box-shadow 0.2s;
}
.event-details {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
  width: 65%;
  padding: 1.5rem 2rem;
}
.event-desc {
  font-size: 1.3rem;
  line-height: 1.8rem;
}
.event-title {
  font-size: 2rem;
}
.event-image {
  width: 35%;
  object-fit: cover;
}

@media only screen and (min-width: 1400px) {
  .club-info {
    padding: 0 20rem;
  }
}
